{% extends 'base.html' %}

{% block contents %}
<div class="container">

<h1> Sign up!</h1>

<form method="POST" action="{% url 'signup'%}">
    {% csrf_token %}
    <!-- 회원가입=post방식을 사용할 때 유용한 보안수단  -->
    Username:
    <br>
    <input name="username" type="text">
    <br>
    Password:
    <br>
    <input name="password1" type="password" >
    <br>
    Confirm Password:
    <br>
    <input name="password2" type="password" >
    <br>
    <br>
    <input class="btn btn-primary" type="submit" value="Sign up!">
    
</form>
</div>
{% endblock %}